
.gifItem {
    margin: 10px;
}

body {
    background-image: url("../images/retina_wood/retina_wood.png");
}

.searchButton {
    margin: 5px 10px;
}

#gifs {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gifItem a.main-nav-item:hover {
    opacity: 50%;
}