body {
    background-image: url("../images/retina_wood.png");
    overflow-y: scroll;
}

.favButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40px;
    padding: 5px;
}

.favButton:hover {
    background-color:#000;
    opacity:0.5;
}

.searchButton {
    margin: 5px 10px;
}

.dropup {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#gifs {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageWrapper {
    margin: 10px;
}

.gifItem:not(.no-hover):hover {
    background-color:#000;
    opacity:0.5;
}

.load {
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);
    z-index: 1;
}

.input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header {
    width: 100%;
}

hr.specialRule {
    margin: 5px 0px;
}

.dropdown-toggle {
    border-radius: 0;
    z-index: 2;
}

a:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) { 
    #gifs {
        justify-content: center;
    }

    #buttons {
        justify-content: space-around;
    }

    .gifItem {
        max-width: 80vw;
    }

    .searchButton {
        font-size: 2vw;
    }
};



